@use 'variables' as v;
// @use 'components';

// reset

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

// typograpgy 500, 900

.text-heavy {
  font-weight: 900;
  line-height: 1.1;
  color: v.$slate-900;
}

.text-medium {
  font-weight: 500;
  line-height: 1.5;
  color: v.$slate-600;
}

body {
  font-family: v.$main-font;
}

.container {
  // background-color: v.$white;
  margin: 0 auto;
  max-width: 1440px;
}
