@use 'variables' as v;
@use 'components';

// reset

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// typograpgy 300-900

.text {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}
