@use 'variables' as v;

.hero {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.hero__image {
  padding-top: v.$spacing-64;
}

.left-image,
.right-image {
  width: 50%;
  height: auto;
}
.left-image {
  transform: translateX(-10%);
}
.right-image {
  transform: translateX(10%);
}
.hero__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: v.$spacing-24;
  padding: v.$spacing-48 v.$spacing-40 v.$spacing-40;
}

.title {
  font-size: v.$size-lg;
  padding: 0 v.$size-s;
  text-align: center;
}

.text {
  text-align: center;
}
.hero__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: v.$spacing-16;
}

.btn {
  padding: v.$spacing-16 v.$spacing-40;
  background-color: v.$cyan-600;
  border-radius: 29px;
  line-height: 1.5;
  color: v.$white;
}

.btn:hover {
  background-color: v.$accent-hover-cyan;
  transition: background 0.5s ease-in-out;
}
.btn span {
  color: v.$cyan-300;
  margin-left: 0.5rem;
}

.btn-purple {
  background-color: v.$purple-600;
}

// aria label 

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.btn-purple:hover {
  background-color: v.$accent-hover-purple;
  transition: background 0.5s ease-in-out;
}

@media (min-width: 768px) {
  .hero__details {
    padding: v.$spacing-72 v.$spacing-130;
  }
  .title {
    font-size: v.$size-xl;
    padding: 0 v.$spacing-50;
  }
  .hero__buttons {
    flex-direction: row;
    gap: v.$spacing-17;
  }
}

@media (min-width: 1024px) {
  .hero {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
  }

  .left-image {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
  }
  .hero__details {
    grid-column: 2;
    grid-row: 1;
  }
  .right-image {
    grid-column: 3;
    grid-row: 1;
    width: 100%;
  }
}

// main

.main__wrapper {
  padding: v.$spacing-32 v.$spacing-32 v.$spacing-64;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: v.$spacing-64;
}

.circle {
  width: v.$spacing-56; //56px;
  height: v.$spacing-56; //56px;
  border-radius: 50%;
  color: v.$slate-600;
  border: 1px solid v.$slate-300;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: v.$spacing-48;
}
.circle::before {
  content: '';
  height: 80px;
  width: 1px;
  background-color: v.$slate-300;
  position: absolute;
  bottom: 100%;
}
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: v.$spacing-16;
}
.cards__item {
  width: 145px;
  height: auto;
  border-radius: v.$spacing-8;
}

.main__details {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.main__subtitle {
  font-size: v.$size-s;
  color: v.$cyan-600;
  letter-spacing: 4px;
}

.main__title {
  font-size: v.$size-m;
  margin-top: v.$spacing-16;
  margin-bottom: v.$spacing-32;
}

@media (min-width: 768px) {
  .main__wrapper {
    padding-top: v.$spacing-56;
  }

  .circle {
    margin-top: v.$spacing-56;
  }
  .cards {
    gap: v.$spacing-24;
  }
  .cards__item {
    width: 152px;
    height: 160px;
  }
  .main__details {
    max-width: 445px;
  }
  .main__subtitle {
    font-size: v.$size-xs;
  }
  .main__title {
    font-size: v.$size-md;
  }
}
@media (min-width: 1024px) {
  .main__wrapper {
    padding-left: v.$spacing-80;
    padding-right: v.$spacing-80;
    padding-bottom: v.$spacing-72;
  }

  .cards {
    gap: v.$spacing-32;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
  .cards__item {
    width: 256px;
    height: 256px;
  }
  .main__details {
    max-width: 540px;
  }
  .main__subtitle {
    font-size: v.$size-base;
  }
  .main__title {
    font-size: v.$size-lg;
    padding: 0 v.$spacing-50;
  }
  .main__text {
    font-size: v.$size-sm;
  }
}

// footer

footer {
  margin-top: v.$spacing-24;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('/src/assets/mobile/image-footer.jpg');
  height: auto;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
}

.footer__wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: v.$cyan-600;
  opacity: 0.9;
}
.circle-footer {
  position: relative;
  margin-top: v.$spacing-50;
  margin-bottom: -28px;
  z-index: 4;
  background-color: white;
}
.footer__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: v.$spacing-64 v.$spacing-32;
  gap: v.$spacing-24;
  text-align: center;
}

.footer__title {
  color: v.$white;
  font-size: v.$size-m;
  z-index: 1;
}
.footer__text {
  color: v.$white;
  z-index: 2;
}

.btn-footer {
  z-index: 1;
  background-color: v.$purple-600;
}
.btn-footer:hover {
  background-color: v.$accent-hover-purple;
  transition: background 0.5s ease-in-out;
}
.btn-footer span {
  color: v.$purple-300;
}

@media (min-width: 768px) {
  .footer__wrapper {
    background-image: url('/src/assets/tablet/image-footer.jpg');
    width: 100vw;
  }

  .footer__title {
    font-size: v.$size-md;
  }
}
@media (min-width: 1024px) {
  .footer__wrapper {
    background-image: url('/src/assets/desktop/image-footer.jpg');
  }
  .footer__details {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    height: auto;
    padding: v.$spacing-112 v.$spacing-80;
    max-width: 1250px;
    gap: v.$spacing-100;
  }
  .footer__title {
    font-size: v.$size-lg;
    width: 350px;
  }
  .footer__text {
    font-size: v.$size-sm;
    width: 350px;
  }
}
