@use 'variables' as v;
@use 'base';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: v.$spacing-48;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: v.$spacing-64 v.$spacing-32 v.$spacing-32;
  gap: v.$spacing-48;
  overflow-x: hidden; //
}

@media (min-width: 768px) {
  .hero {
    gap: v.$spacing-72;
  }
}
.hero img {
  width: 120vw;
  margin-left: calc(-10vw - 50vw + 50%);
}

@media (min-width: 768px) {
  .hero img {
    width: 105vw;
    margin-left: calc(-2.5vw - 50vw + 50%);
  }
}
.hero__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: v.$spacing-24;
}

@media (min-width: 768px) {
  .hero__details {
    padding: 0 130px;
  }
}

.title {
  font-size: v.$size-lg;
  padding: 0 v.$size-s;
  text-align: center;
}

@media (min-width: 768px) {
  .title {
    font-size: v.$spacing-48;
    padding: 0 v.$spacing-50;
  }
}

.text {
  text-align: center;
}
.hero__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: v.$spacing-16;
}

@media (min-width: 768px) {
  .hero__buttons {
    flex-direction: row;
    gap: v.$spacing-17;
  }
}

.btn {
  padding: v.$spacing-16 v.$spacing-40;
  background-color: v.$cyan-600;
  border-radius: 29px;
  line-height: 1.5;
  color: v.$white;
}
.btn span {
  color: v.$cyan-300;
  margin-left: 0.5rem;
}

.btn-purple {
  background-color: v.$purple-600;
}
// media queries desktop // hmm

// main
.main__wrapper {
  padding: v.$spacing-64 v.$spacing-32;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: v.$spacing-64;
  margin-top: 32px;
}

.circle {
  width: v.$spacing-56; //56px;
  height: v.$spacing-56; //56px;
  border-radius: 50%;
  color: v.$slate-600;
  border: 1px solid v.$slate-300;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.circle::before {
  content: '';
  height: 80px;
  width: 1px;
  background-color: v.$slate-300;
  position: absolute;
  bottom: 100%;
}
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}
.cards__item {
  width: 145px;
  height: auto;
  border-radius: v.$spacing-8;
}

.main__details {
  display: flex;
  flex-direction: column;
  text-align: center;

  .main__subtitle {
    font-size: v.$size-s;
    color: v.$cyan-600;
    letter-spacing: 4px;
  }

  .main__title {
    font-size: v.$size-m;
    margin-top: v.$spacing-16;
    margin-bottom: v.$spacing-32;
  }
}
