// colors

$white: #fafafa;

$purple-300: #d9b8ff;
$purple-600: #855fb1;

$cyan-300: #8fe3f9;
$cyan-600: #4d96a9;

$slate-300: #d1d1df;
$slate-600: #87879d;
$slate-900: #28283d;

$spacing-130: 8.125rem;
$spacing-112: 7rem;
$spacing-80: 5rem;
$spacing-72: 4.5rem;
$spacing-64: 4rem;
$spacing-56: 3.5rem;
$spacing-50: 3.125rem;
$spacing-48: 3rem;
$spacing-40: 2.5rem;
$spacing-32: 2rem;
$spacing-24: 1.5rem;
$spacing-17: 1.0625rem; // 17px
$spacing-16: 1rem;
$spacing-8: 0.5rem;
$spacing-4: 0.25rem;

// font size

$size-xxl: 4rem; //64px;
$size-xl: 3rem; // 48px
$size-lg: 2.5rem; // 40px
$size-md: 2.25rem; //36px
$size-m: 2rem; //32px
$size-sm: 1.125rem; //18px
$size-s: 0.75rem; //12px

$size-base: 1rem; //16px

// font name

$main-font: 'Red Hat Display', sans-serif;
